.leftSide {
    height: 100vh;
    width: 50vw;
    background: url('../../../public/images/barber3.png') no-repeat;
    /* background-position: 0 calc(100% + 20px); for barber4.png only!*/
    background-size: cover;
    overflow: hidden;
    filter: grayscale(70%);

    display: flex;
    align-items: center;
}

.mainText {
    margin: auto;
    font-size: 144px;
    color: #BEA042;
}

.rightSide {
    height: 100vh;
    width: 50vw;
    background-color: #0A0A0A;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
}